html, body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-family: 'Lora', serif;
}

header{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-bottom: 1px solid black;
}

.header_items{
    margin: 1rem;
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin: 1.5rem;
}

main{
    position: relative;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3rem 0 3rem 0;
}

footer{
    position: relative;
    display: flex;
    flex-grow: 1;
    width:23.7rem ;
    justify-content: center;
    height:5rem ;
    background-color: #c8ecd0;
}

.footer_items{
    margin: .4rem ;
    align-items: center;
    padding-top: .5rem;
}

.home{
    padding-top: -.2rem;
}

.icones{
    border: .2rem solid black;
    margin: 1rem;
    padding: .3rem;
}

.legenda_imagens{
    text-align: center;
    font-size: 1.3rem;
}

.linha{
    display: flex;
    flex-direction: row;
}

.coluna{
    display: flex;
    flex-direction: column;
}